@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}
.logo img {
  height: 40px; /* or whatever height fits your design */
  width: auto;
}